

.choice {
  cursor: pointer;
  width: 125px;
  height: 125px;
  object-fit:fill;
  border-radius: 15%;
  border: none;
  box-shadow: 2px 2px grey;
  
}
.scissor-button {
  background: url("./assets/scissor.png")
}
.rock-button {
  background: url("./assets/rock.png")
}
.paper-button {
  background: url("./assets/paper.png")
}