p {
  color: #f3f3f3;
  font-size: 25px!important;
}

#reset {
  visibility: hidden;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
}

#info {
  visibility: hidden;
}

.vertical-center {
  padding-top: 15vh!important;
}
.box {
  display: block!important;
  width: 100%;
  text-align: center;
  font-size: 40px!important;
}

.choice {
  cursor: pointer;
  width: 125px;
  height: 125px;
  object-fit:fill;
  border-radius: 15%;
  border: none;
  box-shadow: 2px 2px rgb(22, 20, 20);
  transition: 0.3s
}
.scissor-button {
  background: url("./assets/scissor.png")
}
.rock-button {
  background: url("./assets/rock.png")
}
.paper-button {
  background: url("./assets/paper.png")
}